@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
  --dark-main-background: #0b131e;
  --light-main-background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

.dark-bg {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--dark-main-background);
}

.light-bg {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--light-main-background);
  ;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px 0;
}

.main-container {
  flex: 15;
  height: 100%;
}

.home-page {
  height: 97.6vh;
  padding: 10px 0;
  display: flex;
  box-sizing: border-box;
}

.home-page-main {
  flex: 15;
  display: flex;
  flex-direction: column;
}

.home-page-main> :first-child {
  flex: 1;
}

.home-page-main> :last-child {
  flex: 2;
}

.home-page-main .css-13cymwt-control,
.home-page-main .css-t3ipsp-control {
  margin: 0 13% 0 13% !important;
}

.home-page-main .css-1nmdiq5-menu {
  margin: 10px 13% 0 13% !important;
}

.main-title-container-light,
.main-title-container-dark {
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px 34%;
  transition: color 0.3s ease-in-out;
}

.main-title-container-light {
  color: #252525;
}

.main-title-container-dark {
  color: #ffffff;
}

/*HEADER*/

.header {
  width: 100%;
  height: 10%;
}

.search-city-container {
  width: 100%;
  height: 100%;
  padding: 17px 0 0 0;
}

.css-13cymwt-control,
.css-t3ipsp-control {
  margin: 0 0 0 2.45% !important;
  width: 63.5% !important;
  height: 45px !important;
  padding: 0 0 0 20px !important;
  font-size: 17px !important;
  border: none !important;
  border-radius: 10px !important;
  background: #d9dcdf !important;
  color: #070707 !important;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.dark-search .css-13cymwt-control,
.dark-search .css-t3ipsp-control {
  background: #202c3c !important;
  color: aliceblue !important;
}

.css-1xc3v61-indicatorContainer svg {
  top: 11px !important;
}

.css-1nmdiq5-menu {
  margin: 10px 0 0 2.45% !important;
  width: 63.5% !important;
  min-height: 45px !important;
  font-size: 17px !important;
  border: none !important;
  border-radius: 10px !important;
  background: #d9dcdf !important;
  color: #070707 !important;
}

.dark-search .css-1nmdiq5-menu {
  background: #202c3c !important;
  color: aliceblue !important;
}

.css-1u9des2-indicatorSeparator {
  background: #a9a9a9 !important;
}

.dark-search .css-1u9des2-indicatorSeparator {
  background: #4f5772 !important;
}

.dark-search .css-1cfo1cf {
  color: aliceblue !important;
}

.css-1xc3v61-indicatorContainer {
  color: #a9a9a9 !important;
}

.dark-search .css-tj5bde-Svg {
  top: 11px !important;
}

.dark-search .css-qbdosj-Input>input,
.dark-search .css-166bipr-Input>input {
  caret-color: #c1c1c1;
  color: #d4d4d4 !important;
}

.dark-search .css-1dimb5e-singleValue {
  color: #858585 !important;
}

.css-d7l1ni-option {
  border-radius: 5px;
}

.dark-search .css-d7l1ni-option {
  background-color: #2d3d53 !important;
}

.css-tr4s17-option {
  border-radius: 5px;
}

.dark-search .css-tr4s17-option {
  background-color: #1f4a87 !important;
}

/*SPINNER*/

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #6b6b6b;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}


/*MAIN DATA*/
.weather-data-container {
  width: 100%;
  display: flex;
  padding: 15px 0 0 0;
  box-sizing: border-box;
  overflow: hidden;
}

.weather-today-container {
  flex: 6.5;
  padding: 0 2.7%;
}

.weather-today-container-inner {
  height: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.today-forecast,
.air-conditions,
.week-forecast {
  flex: 1;
  border-radius: 20px;
}

.light-theme-data-bg {
  background: #d9dcdf;
  transition: background-color 0.3s ease-in-out;
}

.dark-theme-data-bg {
  background: #202c3c;
  transition: background-color 0.3s ease-in-out;
}

.current-weather {
  flex: 1;
  display: flex;
}

.current-weather-data {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
}

.current-weather-city,
.current-weather-temperature {
  flex: 1;
  padding: 0 0 0 40px;
}

.current-weather-city h2 {
  font-size: 35px;
  letter-spacing: 1px;
  padding: 0 0 10px 0;
  transition: 0.3s;
}

.current-weather-city p {
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.current-weather-city .light-theme-text-small {
  color: #676767;
}

.current-weather-city .dark-theme-text-small {
  color: #c1c1c1;
}

.current-weather-temperature p {
  font-size: 55px;
  font-weight: 600;
  padding: 10px 0 0 0;
  transition: 0.3s;
}

.current-weather-city .dark-theme-text,
.current-weather-temperature .dark-theme-text {
  color: #ffffff;
}

.current-weather-city .light-theme-text,
.current-weather-temperature .light-theme-text {
  color: #070707;
}

.current-weather-pic {
  flex: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.current-weather-pic img {
  max-height: 190px;
}

.today-forecast,
.air-conditions,
.week-forecast {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.today-forecast-title,
.air-conditions-title,
.week-forecast-title {
  flex: 1;
}

.today-forecast-title p,
.air-conditions-title p,
.week-forecast-title p {
  text-transform: uppercase;
  font-weight: 600;
  color: #d4d4d4;
  font-size: 14px;
  transition: color 0.3s ease-in-out;
}

.today-forecast-title .dark-text,
.air-conditions-title .dark-text,
.week-forecast-title .dark-text {
  color: #070707;
}

.today-forecast-hourly,
.air-conditions-container {
  flex: 5;
  display: flex;
  padding: 15px 10px 0 10px;
}

.today-forecast-hourly-light> :not(:last-child) {
  border-right: 1px solid #cacbd0;
  transition: border 0.3s ease-in-out; 
}

.today-forecast-hourly-dark> :not(:last-child) {
  border-right: 1px solid #4f5772;
  transition: border 0.3s ease-in-out;
}

.today-forecast-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today-forecast-data p {
  flex: 1;
  font-weight: 700;
}

.today-forecast-data> :first-child {
  font-size: 15px;
  line-height: 35px;
}

.dark-theme-hour {
  color: #c1c1c1;
  transition: color 0.3s ease-in-out;
}

.light-theme-hour {
  color: #161616;
  transition: color 0.3s ease-in-out;
}

.today-forecast-data> :last-child {
  font-size: 25px;
  padding: 7px 0 0 0;
}

.today-weather-icon {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.today-weather-icon img {
  width: 50%;
}

.air-conditions-container-left,
.air-conditions-container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.air-conditions-container-left>div,
.air-conditions-container-right>div {
  flex: 1;
  display: flex;
}

.air-conditions-data-title {
  font-size: 17px;
  padding: 3px 0 0 0;
  text-transform: capitalize;
}

.air-conditions-data-indicator {
  font-size: 30px;
  font-weight: 700;
}

.air-conditions-container-left> :first-child .air-conditions-data-indicator,
.air-conditions-container-right> :first-child .air-conditions-data-indicator {
  padding: 0 0 20px 0;
}

.air-conditions-icon svg {
  height: 25px;
  padding: 0 10px 0 0;
}

.light-air-condition-icon {
  fill: #191919;
  transition: fill 0.3s ease-in-out;
}

.dark-air-condition-icon {
  fill: #d4d4d4;
  transition: fill 0.3s ease-in-out;
}


/*week forecast*/
.weather-week-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 0 2.5% 0 0;
  box-sizing: border-box;
}

.week-forecast {
  height: 100%;
  box-sizing: border-box;
}

.week-forecast-daily {
  flex: 15;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.week-forecast-daily-dark> :not(:last-child) {
  border-bottom: 1px solid #4f5772;
  transition: border 0.3s ease-in-out;
}

.week-forecast-daily-light> :not(:last-child) {
  border-bottom: 1px solid #cacbd0;
  transition: border 0.3s ease-in-out;
}

.week-forecast-data {
  flex: 1;
  display: flex;
  align-items: center;
}

.week-forecast-weather-container {
  flex: 3;
  display: flex;
  align-items: center;
}

.week-forecast-weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 10px;
}

.week-forecast-weather-icon img {
  height: 40px;
  padding: 0 15px 0 0;
}

.day-of-week,
.week-forecast-weather,
.temperature-limits>span {
  font-size: 15px;
}

.day-of-week {
  flex: 1;
  text-transform: capitalize;
}

.day-of-week,
.temperature-limits-night {
  color: #b0b0b0;
  font-weight: 600;
}

.dark-theme-side-text {
  color: #b0b0b0;
}

.light-theme-side-text {
  color: #313131;
}

.week-forecast-weather,
.temperature-limits-day {
  font-weight: 700;
}

.temperature-limits {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

/*theme icons*/

.theme-change-button-container svg {
  position: absolute;
  top: 2.5px;
  z-index: 100;
  transition: 0.3s;
}

.current-icon {
  fill: #ffffff; 
}

.disable-icon {
  fill: #7e7e7e;
}

.light-theme-icon {
  left: 4px;
  height: 23px; 
  width: 23px;
}

.dark-theme-icon {
  left: 37px;
  height: 21px; 
  width: 21px;
}


/*theme change button*/

.theme-change-button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 3px 0 3px;
  transition: 0.3s;
  box-sizing: border-box;
}

.poweredBy {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 0 0 0 15px;
  color: #8b8b8b;
  font-size: 13px;
}

.poweredBy>a {
  color: rgb(37, 92, 195);
  text-decoration: none;
  transition: 0.3s;
}

.poweredBy>a:hover {
  color: rgb(89, 144, 248);
}

#toggle-label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 20px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

#toggle-label::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1.5px;
  left: 3px;
  background: linear-gradient(180deg, #fcc986, #e29c32);
  border-radius: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#toggle-dark {
  width: 0;
  height: 0;
  visibility: hidden;
}

#toggle-dark:checked+#toggle-label {
  background: #242424;
}

#toggle-dark:checked+#toggle-label::after {
  left: 61px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #a2a2a2, #656565);
}

#toggle-label,
#toggle-label:after {
  transition: 0.3s;
}

#toggle-label:active::after {
  width: 32px;
}

@media screen and (max-width: 480px) {
  .current-weather-pic img {
    max-height: 125px;
    padding: 40px 0;
  }

  .current-weather-city h2 {
    font-size: 28px;
  }

  .current-weather-temperature p {
    font-size: 45px;
  }

  .current-weather-city p {
    font-size: 13px;
  }

  .current-weather-city,
  .current-weather-temperature {
    padding: 0 0 0 15px;
  }

  .week-forecast-daily {
    padding: 0 5px;
  }

  .week-forecast-weather-icon img {
    padding: 0 10px 0 0;
  }

  .day-of-week,
  .week-forecast-weather,
  .temperature-limits>span {
    font-size: 14px;
  }

  .today-forecast-data> :last-child {
    font-size: 20px;
  }

  .today-forecast-hourly,
  .air-conditions-container {
    padding: 13px 5px 0 5px;
  }

  .air-conditions-icon svg {
    height: 20px;
  }

  .air-conditions-data-indicator {
    font-size: 22px;
  }

  .air-conditions-data-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {

  html,
  body,
  #root {
    overflow-y: auto;
    min-height: 170vh;
  }

  .App,
  .home-page {
    flex-direction: column;
  }

  .main-title-container-light, .main-title-container-dark {
    margin: 0 0 5px 0;
    justify-content: center;
  }

  .theme-change-button-container {
    flex-direction: row;
    padding: 10px 30px;
    position: relative;
  }

  .poweredBy {
    align-self: flex-end;
    position: absolute;
    right: 30px;
    top: 0;
    padding: 0;
    justify-content: center;
  }

  .search-city-container {
    padding: 20px 0 10px 0;
  }

  .home-page-main .css-13cymwt-control,
  .home-page-main .css-t3ipsp-control,
  .home-page-main .css-1nmdiq5-menu {
    margin: 0 2.45% !important;
  }

  .css-13cymwt-control,
  .css-t3ipsp-control,
  .css-1nmdiq5-menu {
    margin: 5px 2.45% !important;
    width: 94.8% !important;
  }

  .main-container {
    flex: 26;
    overflow: hidden;
  }

  .header {
    height: 4%;
  }

  .weather-data-container {
    flex-direction: column;
    height: 96%;
    gap: 20px;
  }

  .weather-today-container-inner {
    gap: 20px;
    min-height: 82vh;
  }

  .today-forecast,
  .air-conditions,
  .week-forecast {
    padding: 17px;
  }

  .weather-week-container {
    padding: 0 2.7% 20px 2.7%;
    flex: none;
    min-height: 75vh;
  }
}